*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}
.App {
  min-height: 100vh;
  background-color: #fdf8f7;
  display: flex;
  flex-direction: column;
}

.logo {
  color: red;
}

.navbar {
  width: 100%;
  background-color: #212121;
  min-height: 40px;
}

.container {
  width: 90%;
  margin: auto;
}

#countries {
  width: 100%;
  background-color: #212121;
  min-height: 100px;
}

.input-field-container {
  min-height: 100px;
  background-color: #181818;
  /* background-color: #607d8b; */
  color: black;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  opacity: 0.8;
}

.country-select {
  padding: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.results-number-select {
  width: 15%;
}

.homepage-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.started-btn-wrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1000px) {
  .video-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .video-img-wrapper {
    position: relative;
    width: 30%;
  }
  .video-img-wrapper img {
    width: fit-content;
  }
  .video-details-wrapper {
    width: 70%;
    overflow: hidden;
  }
  .video-duration {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    opacity: 0.7;
    color: oldlace;
  }
  .video-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .video-details-info span {
    margin-right: 10px;
    font-size: 0.85rem;
  }

  .watch-trends-wrapper {
    display: flex;
  }

  .watch-trends-image-wrapper {
    width: 70%;
  }

  .explore-trends-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .watch-later-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .explore-trends-image-wrapper {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
  .watch-later-image-wrapper {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }

  .homepage-image {
    width: 70%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .watch-trends-demo {
    width: 30%;
  }
  .watch-later-demo {
    width: 30%;
  }

  .trend-videos-container {
    margin-top: 20px;
  }
}
