*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.App {
  min-height: 100vh;
  background-color: #fdf8f7;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  color: red;
}

.navbar {
  width: 100%;
  background-color: #212121;
  min-height: 40px;
}

.container {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

#countries {
  width: 100%;
  background-color: #212121;
  min-height: 100px;
}

.searchbar-container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.active {
  display: flex;
  flex-direction: column;
}

.not-active {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: center;
}

.input-field-container {
  min-height: 100px;
  background-color: #181818;
  /* background-color: #607d8b; */
  color: black;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  opacity: 0.8;
}

.country-select {
  padding: 10px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.results-number-select {
  width: 25%;
}

.homepage-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.started-btn-wrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.video-img-wrapper {
  position: relative;
}

.watch-later-btn-wrapper {
  cursor: pointer;
  position: absolute;
  top: 15%;
  right: 10px;
  background-color: black;
  opacity: 0.7;
  color: oldlace;
  font-size: 1.1rem;
  display: flex;
  padding: 2px;
  z-index: 1;
  border: 1px solid #ef5350;
}

.video-duration {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: black;
  opacity: 0.7;
  color: oldlace;
}

.watch-later-list-player {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #181818;
}

.video-frame-wrapper {
  position: relative;
  width: 87%;
  padding-bottom: 56.25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.video-frame-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.watch-later-list {
  border: 1px solid black;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  overflow: auto;
  padding: 5px;
  background-color: #282828;
}

.watch-later-list-element {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #404040;
  color: #fdf8f7;
  margin-right: 10px;
  display: flex;
}

.watch-later-list-element-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.watch-later-list-element-title {
  max-height: 20%;
  font-size: 0.7rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.watch-later-list-element-image {
  height: 80%;
  width: 90%;
  object-fit: contain;
}

.trend-videos-container {
  margin-top: 20px;
  background-color: #181818;
  color: #fdf8f7;
  height: 80vh;
  overflow: auto;
  padding: 10px;
}

.video-card-wrapper {
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #404040;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.video-img-wrapper img {
  height: auto;
  width: 100%;
}

/******** media queries ***********************/
@media (min-width: 600px) {
  .results-number-select {
    width: 15%;
  }

  /* .video-frame-wrapper {
    position: relative;
    width: 33%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video-frame-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  } */
  .watch-later-list-player {
    display: flex;
    justify-content: flex-end;
    background-color: #181818;
  }

  .watch-later-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 200px;
    overflow: auto;
    background-color: #282828;
  }

  .watch-later-list-element {
    color: #fdf8f7;
    position: relative;
    background-color: #404040;
  }

  .watch-later-list-element-wrapper {
    display: flex;
    flex-direction: column;
  }

  .watch-later-list-element-title {
  }

  .watch-later-list-element-image {
    height: auto;
    width: fit-content;
  }

  .watch-later-list-player {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .country-select {
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .video-frame-wrapper {
    position: relative;
    width: 80%;
    padding-bottom: 56.25%;
    height: 0;
    background-color: #181818;
  }

  .video-frame-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 1000px) {
  .country-select {
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .results-number-select {
    width: 15%;
  }

  .video-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #404040;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    font-size: 1rem;
  }
  .video-img-wrapper {
    position: relative;
    width: 30%;
  }
  .video-img-wrapper img {
    width: fit-content;
  }
  .video-details-wrapper {
    width: 70%;
    overflow: hidden;
  }
  .video-duration {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    opacity: 0.7;
    color: oldlace;
  }
  .video-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .video-details-info span {
    margin-right: 10px;
    font-size: 0.85rem;
  }

  .watch-trends-wrapper {
    display: flex;
  }

  .watch-trends-image-wrapper {
    width: 70%;
  }

  .explore-trends-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .watch-later-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .explore-trends-image-wrapper {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }
  .watch-later-image-wrapper {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }

  .homepage-image {
    width: 70%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .watch-trends-demo {
    width: 30%;
  }
  .watch-later-demo {
    width: 30%;
  }

  .trend-videos-container {
    margin-top: 20px;
    background-color: #181818;
    color: #fdf8f7;
    height: 80vh;
    overflow: auto;
    padding: 10px;
  }

  .video-frame-wrapper {
    position: relative;
    width: 65%;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video-frame-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .watch-later-list-player {
    display: flex;
    justify-content: space-around;
    background-color: #181818;
    /* backdrop-filter: blur(10px); */
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 10px;
  }

  .watch-later-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    height: 80vh;
    overflow: auto;
    padding: 10px;
    background-color: #282828;
  }

  .watch-later-list-element {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    background-color: #404040;
    margin-bottom: 10px;
    color: #fdf8f7;
    padding: 10px;
    height: fit-content;
  }

  .watch-later-list-element-wrapper {
    display: flex;
    flex-direction: column;
  }

  .watch-later-list-element-wrapper .watch-later-btn-wrapper {
    top: 50%;
  }

  .watch-later-list-element-title {
  }

  .watch-later-list-element-image {
    height: auto;
    width: fit-content;
  }
}
